#root {
  width: 100%;
  text-align: center;
  display: flex;
  place-content: center;
}

ul {
  list-style: none;
  display: flex;
  place-content: center;
  flex-direction: column;
}

ul > li {
  
}
